<template>
  <div>
    <h2>{{ title }}</h2>

    <label for="newTodo">
      Añadir tarea
      <input
        type="text"
        name="newTodo"
        id="newTodo"
        @keyup.enter.prevent="addTodo"
        v-model="newTodo"
        data-testid="todo-input"
        autofocus="autofocus"
        autocomplete="off"
        class="hola"
      />
    </label>

    <button
      type="button"
      value="Add"
      @click.prevent="addTodo"
      data-testid="todo-submit"
    >
      Añadir
    </button>
    <ul data-testid="todos">
      <li
        v-for="(todo, todoKey) of todos"
        :key="todoKey"
        :data-testid="`todo-${todoKey}`"
        :data-done="todo.done"
      >
        <span
          @click.prevent="toggle(todo)"
          :data-testid="`todo-${todoKey}-toggle`"
        >
          {{ todo.done ? 'Done' : 'Mark done' }}
        </span>
        {{ todo.description }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Todo',
  props: {
    title: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      todos: [],
      newTodo: '',
    };
  },
  methods: {
    addTodo() {
      this.todos.push({
        description: this.newTodo,
        done: false,
      });
      this.newTodo = '';
    },
    toggle(todo) {
      todo.done = !todo.done;
    },
  },
};
</script>
