<template>
  <h1>Cosas para hacer</h1>
  <Todo title="Un título aleatorio" />
</template>

<script>
import Todo from './components/Todo.vue';
export default {
  name: 'App',
  components: { Todo },
};
</script>

<style lang="postcss">
#app {
  @apply mx-auto text-center;
}
h1 {
  @apply text-green-900 text-2xl font-bold;
}
</style>
